/*--------购物车流程图 start---------*/

.shopcarcon {
	width: 1190px;
	padding: 0;
	margin: 0;
	margin: 0 auto;
}

.gwc {
	text-align: right;
	padding-top: 25px;
	padding-bottom: 25px;
}
/*--------购物车流程图 end---------*/


/*--------购物车产品 start---------*/
.gwclist .gwclisttit a {
	display: inline-block;
	width: 90px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	margin-right: 30px;
	margin-left: 25px;
	padding-left: 10px;
}

.gwclist .gwclisttit a:first-child,
.gwclist .gwclisttit a:hover {
	background-color: #333;
	color: #fff;
	margin-left: 0px;
	margin-right: 30px;
	margin-left: 25px;
}

.gwclist .gwclisttit a:first-child {
	margin-left: 0px;
}

.gwclistcon {
	width: 1190px;
}

.gwclistcon .listcon1 {
	width: 1148px;
	border: 1px solid #c5c5c5;
	border-bottom: 0px;
	margin-top: 20px;
	padding: 0px 20px;
	color: #666;
}

.gwclistcon .listcon1 li {
	border-bottom: 1px dashed #e5e5e5;
	padding: 20px 0px;
	position: relative;
}

.gwclistcon .listcon1 li .checkxx0 {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 0px;
}

.gwclistcon .listcon1 li .checkxx1 {
	display: inline-block;
	margin-right: 274px;
	margin-left: 20px;
}

.gwclistcon .listcon1 li .checkxx2 {
	display: inline-block;
	margin-right: 170px;
}

.gwclistcon .listcon1 li .checkxx3 {
	display: inline-block;
	margin-right: 180px;
}

.gwclistcon .listcon1 li .checkxx4 {
	display: inline-block;
	margin-right: 130px;
}

.gwclistcon .listcon1 li .checkxx5 {
	display: inline-block;
	margin-right: 100px;
}

.gwclistcon .listcon1 .gwcconcp {
	position: relative;
	height: 75px;
}

.gwclistcon .listcon1 .gwcconcp .checkbox1 {
	position: absolute;
	top: 22px;
}

.gwclistcon .listcon1 .gwcconcp img {
	position: absolute;
	top: 20px;
	left: 60px;
}

.gwclistcon .listcon1 .gwcconcp .miaosu1 {
	position: absolute;
	top: 20px;
	left: 140px;
	display: inline-block;
	width: 179px;
	line-height: 24px;
}

.gwclistcon .listcon1 .gwcconcp .miaosu2 {
	position: absolute;
	top: 20px;
	left: 365px;
	display: inline-block;
	line-height: 24px;
}

.gwclistcon .listcon1 li .shuruk1 {
	width: 75px;
	height: 20px;
	position: absolute;
	left: 590px;
	top: 24px;
}

.gwclistcon .listcon1 .gwcconcp .miaosu3 {
	position: absolute;
	top: 24px;
	left: 675px;
	display: inline-block;
	line-height: 24px;
}

.gwclistcon .listcon1 .gwcconcp .btnjian {
	width: 17px;
	height: 24px;
	position: absolute;
	top: 24px;
	left: 800px;
}

.gwclistcon .listcon1 li .shuruk2 {
	width: 55px;
	height: 20px;
	position: absolute;
	top: 24px;
	left: 822px;
}

.gwclistcon .listcon1 .gwcconcp .btnjia {
	width: 17px;
	height: 24px;
	position: absolute;
	top: 24px;
	left: 886px;
}

.gwclistcon .listcon1 .gwcconcp .miaosu4 {
	position: absolute;
	top: 16px;
	left: 960px;
	display: inline-block;
	line-height: 28px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #FF7800;
}

.gwclistcon .listcon1 .gwcconcp .miaosu5 {
	position: absolute;
	top: 16px;
	left: 1095px;
	display: inline-block;
	line-height: 24px;
}

.gwclistcon .listcon2 {
	/*padding: 20px 0px;*/
	border: 1px solid #c5c5c5;
	border-top: 0px;
	background-color: #f2f2f2;
	color: #666;
}

.gwclistcon .listcon2 .con2left {
	float: left;
	padding-left: 20px;
	position: relative;
}

.gwclistcon .listcon2 .con2left input {
	position: absolute;
	top: 24px;
}

.gwclistcon .listcon2 .con2left .miaosu6 {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 24px;
}

.gwclistcon .listcon2 .con2left .jrsctb {
	width: 14px;
	height: 12px;
	position: absolute;
	top: 24px;
	left: 100px;
	background: url(images/icons/whole.png) no-repeat -122px -270px;
}

.gwclistcon .listcon2 .con2left .miaosu7 {
	display: inline-block;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 24px;
}

.gwclistcon .listcon2 .con2left .shanctb {
	width: 14px;
	height: 18px;
	background-color: green;
	position: absolute;
	top: 20px;
	left: 200px;
	background: url(images/icons/whole.png) no-repeat -100px -270px;
}

.gwclistcon .listcon2 .con2left .miaosu8 {
	display: inline-block;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 24px;
}

.gwclistcon .listcon2 .con2right {
	float: right;
}

.gwclistcon .listcon2 .con2right .con2qid1 {
	color: #FF7800;
}

.gwclistcon .listcon2 .con2right .con2qid2 {
	color: #FF7800;
	font-family: "微软雅黑";
	font-size: 24px;
	font-weight: normal;
}

.gwclistcon .listcon2 .con2right a {
	display: inline-block;
	width: 144px;
	height: 60px;
	background-color: #FF7800;
	font-family: "微软雅黑";
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 60px;
}
/*--------购物车产品 end---------*/

/*--------猜你喜欢 start---------*/
.guesslike .guesstit{
	width: 1190px;
	height: 20px;
	/*background-color: red;*/
	position: relative;
	margin-top: 30px;
	margin-bottom: 10px;
}
.guesslike .guesstit strong{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0px;
	left: 0px;
	background:url(../images/icons/whole.png) no-repeat -64px -298px;
}
.guesslike .guesstit span{
	position: absolute;
	top: -1px;
	left: 25px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666;
}
.guesslike .guesscon{
	width: 1148px;
	height: 222px;
	border: 1px solid #dedede;
	padding: 24px;
}
.guesslike .guesscon dl{
	float: left;
	margin-right: 24px;
	
}
.guesslike .guesscon dl img{
	width: 170px;
	height: 170px;
	background-color: #eee;
}
.guesslike .guesscon dl:last-child{
	margin-right: 0px;
}
.guesslike .guesscon dl dt{
	margin-bottom: 10px;
}
.guesslike .guesscon dl a{
	display: inline-block;
	margin-bottom: 10px;
}
.guesslike .guesscon dl b{
	margin-bottom: 10px;
	color: #FF7800;
}
/*--------猜你喜欢 end---------*/

/*--------最近浏览 start---------*/
.recviewed .viewedtit{
	width: 1190px;
	height: 20px;
	/*background-color: red;*/
	position: relative;
	margin-top: 30px;
	margin-bottom: 10px;
}
.recviewed .viewedtit strong{
	position: absolute;
	width: 27px;
	height: 20px;
	top: 0px;
	left: 0px;
	background:url(../images/icons/whole.png) no-repeat -86px -298px;
}
.recviewed .viewedtit span{
	position: absolute;
	top: -3px;
	left: 32px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666;
}
.recviewed .viewedcon{
	width: 1148px;
	height: 147px;
	border: 1px solid #dedede;
	padding: 24px;
	margin-bottom: 40px;
}
.recviewed .viewedcon dl{
	float: left;
	margin-right: 20px;
}
.recviewed .viewedcon dl:last-child{
	margin-right: 0px;
}
.recviewed .viewedcon dl dt{
	margin-bottom: 10px;
}
.recviewed .viewedcon dl dt img{
	width: 125px;
	height: 125px;
	background-color: #eee;
}
.recviewed .viewedcon dl b{
	margin-bottom: 10px;
	color: #FF7800;
}


/*--------最近浏览 end---------*/