.subnav{ float: left; width:196px; border: 2px solid #1D7AD9; border-top:0; margin-right: 10px;}
.subnavcon{ border-bottom: 1px dashed #ddd; padding: 15px; position: relative;}
.subnavcon:last-child{ border-bottom: 0;}
.subnavcon dl dt{ font-family: "微软雅黑"; font-size: 16px; color: #1D7AD9; background: url(../img/ico3.png) no-repeat right center; margin-bottom: 6px;}
.subnavcon dl dd a{ display: inline-block; color: #676767; margin-right: 10px; line-height: 21px;}
.subnavcon:hover{ background-color: #1D7AD9;}
.subnavcon:hover dt,.subnavcon:hover dd a{ color: #fff;}
.subnavcon:hover dt{ background-image: url(../img/ico4.png);}
.subno{ position: absolute; left:196px; top:0; padding: 20px; border: 2px solid #1D7AD9; background-color: #fff; display: none; z-index: 999;}
.subnavcon:hover .subno{ display: block;}
/*subnav end*/
.banner{ float: left; width: 755px; margin-top: 10px; height: 353px; overflow: hidden; position: relative;}
.banspan{ position: absolute; right: 20px; bottom: 20px;}
.banspan span{ display: inline-block; width: 16px; height: 16px; background-color: #000; color: #fff; border-radius: 100%; text-align: center; line-height: 16px; margin-right: 10px; cursor: pointer;}
.banspan span:first-child,.banspan span:hover{ background-color: #f70;}
/*banner end*/
.fuli{ margin-top: 20px; border: 1px solid #dedede; border-top: 2px solid #F5619D;}
.fulileft{ float: left; width: 250px; height: 485px; overflow: hidden; position: relative;}
.addspan{ position: absolute; left: 70px; bottom: 50px;}
.addspan span{ display: inline-block; width: 30px; height: 4px; background-color: #000; margin-right: 10px; cursor: pointer;}
.addspan span:first-child,.addspan span:hover{ background-color: #f70;}

.fulimid{ float: left; width: 710px; padding-left: 17px;}
.fulimid dl{ float: left; width: 160px; margin: 20px 17px 0 0;}
.fulimid dl img{ width: 160px; height: 160px;}
.fulimid dl dd{ line-height: 22px;}
.fulimid dl dt{ margin-bottom: 5px;}
.fulimid dl dd b{ color: #f70;}

.fuliright{ float: right; width: 210px; height: 485px; border-left: 1px solid #dedede;}
.title{ font-family: "微软雅黑"; font-size: 16px; font-weight: normal; margin: 15px 0 0 15px;}
.hotpro ul{ margin: 0 10px; padding: 10px 0; text-align: center; line-height: 24px; border-bottom: 1px dashed #ddd;}
.hotpro ul img{ width: 130px; height: 130px;}
.hotpro dl{ border-bottom: 1px dashed #ddd; overflow: hidden; zoom:1; margin: 0 10px; padding: 10px 0;}
.hotpro dl dt{ float: left; margin-right: 15px;}
.hotpro dl img{ width: 50px; height: 50px;}
.hotpro dl dd{ line-height: 25px;}
.hotpro dl dd:last-of-type{ color: #999;}
.hotpro dl dd span{ display: inline-block; width: 17px; height: 15px; background: url(../img/whole.png) no-repeat -218px 0; margin-right: 10px;}













