@charset "utf-8";
/* CSS Document */
body,ul,p,h1,h2,h3,h4,h5,h6,form,input,ol,dl,dd{margin:0;padding:0;}
body{font-size:12px;font-family:"宋体"; background:#fff;}
a{color:#666;text-decoration:none;}
a:hover{ color:#FF7700;}
input,select{ font-size:12px;}
table{ border-collapse:collapse;}
a img{border:0;vertical-align:middle;}
img{vertical-align:middle;}
ul li{list-style:none;vertical-align:text-top;}
.over{overflow:hidden;zoom:1;}
.clear{ clear:both;}

/* ---------- 头部 start ---------- */
.top{ background-color:#f2f2f2;}
.topcon{ width:1190px; margin:0 auto; padding:12px 0; height:16px; line-height:16px;}
.topleft{ float:left;}
.active{ float:left; height:16px; line-height:16px; margin-right:8px; color:#666;}
.sinablog{ display:inline-block; float:left; width:16px; height:16px; background:url(../images/icons/whole.png) no-repeat 0 0; margin-right:5px;}
.qqblog{ display:inline-block; float:left; width:16px; height:16px; background:url(../images/icons/whole.png) no-repeat -21px 0; margin-right:5px;}
.weixin{ display:inline-block; float:left; width:16px; height:16px; background:url(../images/icons/whole.png) no-repeat -42px 0; margin-right:8px;}
.down{ display:inline-block; float:left; width:7px; height:4px; margin-top:6px; background:url(../images/icons/whole.png) no-repeat -142px 0;}
.topright{ float:right;}
.login {padding-right:10px;}
.topright a{ float:left; margin-right:10px;}
.myorder{ float:left; display:inline-block; width:15px; height:14px; background:url(../images/icons/whole.png) no-repeat -64px 0; margin-right:3px; margin-top:1px;}
.mylove{ float:left; display:inline-block; width:16px; height:14px; background:url(../images/icons/whole.png) no-repeat -84px 0; margin-right:3px; margin-top:1px;}
.service{ float:left; display:inline-block; width:13px; height:14px; background:url(../images/icons/whole.png) no-repeat -107px 0; margin-right:3px; margin-top:1px;}
.call{ float:left; display:inline-block; width:11px; height:14px; background:url(../images/icons/whole.png) no-repeat -127px 0; margin-right:3px; margin-top:1px;}
.callnumber{ color:#666;}
/* ---------- 头部 end ---------- */

/* ---------- 头部广告 start ---------- */
.topadd{height:70px;background-color: #DF2B37;}
.topadd a{ display:block; background:url(../images/add/topadd.jpg) no-repeat center top; height:70px;}
/* ---------- 头部广告 end ----------- */